# Extensões
*.aux
*.bcf
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.tex
*.toc

# Diretórios
2025-2/
2026-2/
AULAS/Nova\ Apresentação/
AULAS/Apresentação/imagens/
PROVAS/

# Arquivos
AULAS/01/terde.py
questões_av1.md