# Extensões
*.aux
*.bcf
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.tex
*.toc

# Diretórios
2025-2/
2026-2/
AULAS/Nova\ Apresentação/
AULAS/Apresentação/
PROVAS/

# Arquivos
AULAS/01/terde.py
AULAS/01/imagens/tkinter-pack-anchor-illustration.png
AULAS/01/imagens/Tkinter-Window-Geometry.png
AULAS/01/imagens/window-center.png
questões_av1.md