# Extensões
*.aux
*.bbl
*.bcf
*.bib
*.blg
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.tex
*.toc

# Diretórios
2025-2/
2026/
AULAS/Nova\ Apresentação/
AULAS/Apresentação/
Guia/
Materiais/
Plano de Ensino/*
PROVAS/

# Arquivos

# Exceções
!Plano de Ensino/plano_ensino.pdf